/*
    width: 50% - Half the width of the parent
    line-height: 50% - half the font size of the element itself
*/


section{
    background-color: #d9d9d9;
    width: 800px;
    height: 800px;
}

div{
    background-color: #ffdab9;
    width: 50%;
    height: 50%;
}

h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

h2{
    font-size: 2em;
    margin-left: 1em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 1em;
}

article{
    font-size: 25px;
}

button{
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #118ab2;
    color: white;
}