*{
    text-decoration: none;
}

/* * {
    background-color: cyan;
} */

/* # is used for selecting an id
   . is used for selecing classname
*/

body{
    background-color: #f1faee;
}

button{
    font-size: 30px;
    background-color: #a8dadc;
}

#signup{
    background-color: #1d3557;
    color: f1faee;
}

h1, h2{
    color: #1d3557;
}

span{
    color: #457b9d;
}

.tag{
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: bold;
}

footer a{
    color: #e63946;
}

/*
This is called adjacent selector. I have selected buttons
that are right after the h2 throughout webpage
*/
h2 + button{
    font-size: 20px;
    background-color: magenta;
}

/*
This is called direct ascedant. Only those that are direct childs will be affected.
In this example, only hyperlinks that are direct descendants of the
footer will be affected.
*/

footer > a {
    color: blueviolet;
}

/* Attribute Selector */

input[type="password"] {
    color: greenyellow;
}

/*
:hover is a psudeo-class. For example, we can make all the hyperlinks
turn into orange when the cursor hover overs it
*/

/* a:hover{
    color:orange;
} */

.post button:hover{
    background-color: #e63946;
    color: #f1faee;
}


.post a:hover{
    text-decoration: underline;
}

.post button:active{
    background-color: #02c39a;
}

.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

h2::first-letter{
    font-size: 50px;
}